*{
    margin: 0%;
    padding: 0%;
}

ul{
    list-style-type: none;
    display:flex;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
}

.li{
    display: flex;
    gap: 90px;
    font-size: 1.2em;
}

 .navbar{
    background-color:#FFFFFF00;
    padding: 40px;
    position: fixed; 
    
} 

.navbar {
     background-color: rgba(0, 0, 0, 0.511);
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 90px;
  width: 100%;
}


h2{
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    font-weight: 800;
    color: white;
}

.backgroundpic{
    background-image: url("pic1.webp");
    max-width: 80px;
    height: 80px;
}

.sector{
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.526); */
    width: 100%;
    margin-bottom: 50px;
    height: 95vh;
    /* opacity: 0.8; */
}

.sector img{
    opacity: 1.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}


.container{
 margin: auto;
 width: 80%;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    margin-right: 15px;
    text-align: center;
}



h1{
  display: flex;
  flex-direction: row;  
    color: #353535;
    font-weight: 900px;
    padding: 30px;

  
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

p{
    font-size: 20px;
    width: 100%;
    line-height: 30px;
}

.box1 img{
    width: 40%;
}


.picture{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.pic4 img{
    width: 22%;
    height: 22%;
    margin-left: 30px;
    gap: -90px;
    position: relative;
}
 

 .certifiedh1{
font-size: 90px;
margin-top: 40PX;
justify-content: center;
text-align: center;
font-weight: bold;
}
.theriver p{
    line-height: 30px;
    width: 80%;
    font-weight: 800PX;
    font-size: 21px;
    justify-content: center;
    margin-left: 140PX;
}

.aboutpic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 150px;
}

li:hover{
    border: 2px solid cornflowerblue;
    cursor: pointer;
    background-color: aqua;
    transition: all 1s;
    width: 50px;
}

img:hover{
border: 2px solid cornflowerblue;
    cursor: pointer;
    background-color: aqua;
    transition: all 1s;
    width: 30%;
}
.BookRoom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:50;
}
.mainh1{
     font-weight: 800;
     display: flex;
     flex-direction: row;
     position:relative;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
    outline:black;
}
input{
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    outline-style:none;
    background-color:transparent;
    padding-left: 27px;
    color: #ffffff;
    font-weight: 800px;
    gap: 10px;
}
