* {
    margin: 0%;
    padding: 0%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.li {
    display: flex;
    gap: 90px;
    font-size: 1.2em;
}

.booking_input_container{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-right: 50px;
}

.navbar {
    background-color: #FFFFFF00;
    padding: 40px;
    position: fixed;

}

.navbar {
    background-color: rgba(0, 0, 0, 0.511);
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
    width: 100%;
}


h2 {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    font-weight: 800;
    color: white;
}

.backgroundpic {
    background-image: url("pic1.webp");
    max-width: 80px;
    height: 80px;
}

.sector {
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.526); */
    width: 100%;
    margin-bottom: 50px;
    height: 95vh;
    /* opacity: 0.8; */
}

.sector img {
    opacity: 1.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.home_title {
    font-size: 110px;
    color: white;
    text-align: center;
    padding-top: 30vh;
}

#eidt {
    height: 20px;
    width: 100px;
    padding: 70px;
    color: #353535;

}

/* .mainh1{
    font-size: 110px;
    font-weight: 400;
    color: rgb(155, 89, 89);
    line-height: 1.2;
    position: relative;
    display: block;
} */

.home_content text-center {
    position: relative;

}


.container {
    margin: auto;
    width: 80%;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    margin-right: 15px;
    text-align: center;
}



h1 {
    display: flex;
    flex-direction: row;
    color: #353535;
    font-weight: 900px;
    padding: 30px;


}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

p {
    font-size: 20px;
    width: 100%;
    line-height: 30px;
}

.box1 img {
    width: 40%;
}


.picture {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic4 img {
    width: 22%;
    height: 22%;
    margin-left: 30px;
    gap: -90px;
    position: relative;
}


.certifiedh1 {
    font-size: 70px;
    margin-top: 40PX;
    font-weight: bold;
    color: #666464;
    display: block;
}

.theriver p {
    line-height: 30px;
    width: 80%;
    font-weight: 800PX;
    font-size: 21px;
    margin-left: 140PX;
    color: #666464;
}

.aboutpic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 150px;
}

li:hover {
    border: 2px solid cornflowerblue;
    cursor: pointer;
    background-color: aqua;
    transition: all 1s;
    width: 50px;
}

.pic4 img:hover {
    border: 2px solid cornflowerblue;
    cursor: pointer;
    background-color: aqua;
    transition: all 1s;
    width: 30%;
}

.BookRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: #666464;
}

.cover img {
    width: 100%;
    height: 100vh;
    margin-top: 70px;
    background: transparent;
    background-color: #8e1d1d;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cardcontainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 120vh;


}

.card1 img {
    height: 60px;
    width: 60px;
}

.card {
    background-color: white;
    padding: 50px 50px 50px 50px;
    height: 65%;
    width: 15%;
    position: relative;


}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
    padding-top: 150px;
}

.card img {
    height: 50px;
    width: 50px;
}

.card h1 {
    font-size: 22px;
    font-weight: 400px;
    color: #333333;
    text-align: center;
    font-weight: bold;
}

.card p {
    font-size: 19px;
    font-weight: 400px;
    color: #666464;
    text-align: center;
}

.card img {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-left: 60px;
}

.background_image {
    overflow: auto;
}

.background_image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}

.background_image img {
    height: 50%;
    width: 24%;
    padding-top: 80px;
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */

    /* position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}

.background_image img:hover {
    opacity: 0.7;
    color: #333333;

}

.booking_price {
    border: 2px solid black;
    position: relative;
    color: black;
    margin-top: 40px;
}

.mainfooter{
    height: 50vh;
    margin-top: 90px;

}

.footerh1{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    font-weight: 800;
    color:#363636;
    width: 35vh;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 7vh;
}

.footerp{
    padding: 10px;
    font-weight: 800;
    color:#363636;
    width: 35vh;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


footer{
    background-color: #d8d8d8;
}

.footer1{
    font-weight: 800;
    color:#363636;
    margin-bottom: 40px;
    text-align: center;
}


.footer2{
    font-weight: 800;
    color:#363636;
    text-align: center;
}

.footer1 h3{
    font-size: 30px;
    bottom: 10px;
}

.footer2 h3{
    font-size: 30px;
    
}